<%= link_to "teams", "/teams" %>
<%= link_to "submissions", "/submissions" %>
<p><%= @team.name %> submissions</p>
<%= link_to "new submission", "/teams/#{@team.id}/submissions/new" %>
<%= link_to "Sort submissions by title", "/teams/#{@team.id}/submissions?sort=asc" %>
<h4>Filter by score</h4>
<%= form_with url: "/teams/#{@team.id}/submissions", method: :get do |form| %>
  <%= form.label :score_filter %>
  <%= form.text_field :score_filter %>
  <%= form.submit "Filter" %>
<% end %>

<% @submissions.each_with_index do |submission, index| %>
<div id="submission-<%= index %>">
  <%= link_to submission.title, "/submissions/#{submission.id}" %>
  <p>Meat:<%= submission.meat %></p>
  <p>Rub: <%= submission.rub %></p>
  <p>Sauce: <%= submission.sauce %></p>
  <p>Cook Time: <%= submission.cook_time %></p>
  <p>Score: <%= submission.score %></p>
  <p>Spicy: <%= submission.spicy %></p>
<% end %>
