<%= link_to "teams", "/teams" %>
<%= link_to "submissions", "/submissions" %>
<p><%= @team.name %> submissions</p>
<%= link_to "new submission", "/teams/#{@team.id}/submissions/new" %>

<% @submissions.each_with_index do |submission, index| %>
<div id="submission-<%= index %>">
  <%= link_to submission.title, "/submissions/#{submission.id}" %>
  <p>Meat:<%= submission.meat %></p>
  <p>Rub: <%= submission.rub %></p>
  <p>Sauce: <%= submission.sauce %></p>
  <p>Cook Time: <%= submission.cook_time %></p>
  <p>Score: <%= submission.score %></p>
  <p>Spicy: <%= submission.spicy %></p>
<% end %>
