<%= link_to "teams", "/teams" %>
<%= link_to "submissions", "/submissions" %>
<%= button_to "Edit #{@submission.title}", "/submissions/#{@submission.id}/edit", method: :get %>
<%= link_to "Delete #{@submission.title}", "/submissions/#{@submission.id}", method: :delete %>
<h3>Submission: <%= @submission.title %></h3>
<p>Meat:<%= @submission.meat %></p>
<p>Rub: <%= @submission.rub %></p>
<p>Sauce: <%= @submission.sauce %></p>
<p>Cook Time: <%= @submission.cook_time %></p>
<p>Score: <%= @submission.score %></p>
<p>Spicy: <%= @submission.spicy %></p>
<p>Team: <%= @submission.team.name %></p>
