<div class="teams"><%= link_to @teams, "/teams" %></div>
<div class="submissions"><%= link_to @submissions, "/submissions" %></div>
<h3>Submission: <%= @submission.title %></h3>
<p>Meat:<%= @submission.meat %></p>
<p>Rub: <%= @submission.rub %></p>
<p>Sauce: <%= @submission.sauce %></p>
<p>Cook Time: <%= @submission.cook_time %></p>
<p>Score: <%= @submission.score %></p>
<p>Spicy: <%= @submission.spicy %></p>
<p>Team: <%= @submission.team.name %></p>
